@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

/*////////////
-- VARIABLES --
*/

:root {
  --color1: #050d21;
  --color2: rgba(255, 255, 255, 0.05);
  --color3: #1abc9c;
  --wesBos: #ffc600;
}

/*//////////////////
-- BROWSER RESET --
*/

* {
  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration: none;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*//////////////////
-- GLOBAL SETTINGS --
*/

body {
  background-color: var(--color1);

  font-family: "Hubballi", cursive;
  font-size: 130%;
  color: var(--color3);
  letter-spacing: 1px;
}

/*//////////////////
-- MAIN PAGE --
*/

.container {
  padding-bottom: 50px;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1;
}

.main {
  margin-top: 50px;
  grid-column: 4 / 10;
  grid-row: 2;

  border-radius: 10px;
  box-shadow: 1px 3px 5px var(--color3);
  padding: 100px;
}

.main:hover {
  background-color: var(--color2);
}
