
.page {
      background-color: rgba(255, 255, 255, 0.05);
      margin: auto;
      width: 80vw;
      padding: 50px;
      margin-top: 50px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
}

      .page h1 {
            border-top: 5px solid rgba(255, 255, 255, 0.05);
            text-decoration: underline;
      }

.method {
      background-color: rgba(255, 255, 255, 0.05);
      padding: 10px;
      border-radius: 10px;
      
      /* box-shadow: 1px 1px 5px wheat; */
}