.main {
  grid-column: 3 / 11;
  gap: 25px;
}

h2 {
  grid-column: 1 / -1;
  grid-row: auto;
  height: 50px;
  width: 100%;
}

.card {
  grid-column: auto / span 4;
  grid-row: auto / span 2;

  background-color: var(--color2);
  padding: 20px;
  border-radius: 10px;
}

.card-big {
  grid-column: 1 / -1;
  grid-row: auto;
}
