.main {
  grid-column: 1 / -1;
  gap: 25px;
  /* grid-auto-flow: row dense; */
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  max-width: 80vw;
  place-self: center;

  /* border: 1px solid red; */
}

h2 {
  grid-column: 1 / -1;

  width: 100%;
  border-bottom: 1px solid var(--color2);

  /* color: red; */
}

h2:not(:first-of-type) {
  margin-top: 50px;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3;
  text-align: center;
  margin-top: 50px;
}
